/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightseagreen;
  padding: 0.5rem 1.5rem;
}

/* Brand Styling */
.nav-brand {
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: default;

  &:hover {
    text-decoration: none;
    color: whitesmoke;
  }
}

/* Shop Cart Styling */
.nav-shopcart {
  position: relative;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    .dropdown {
      display: block;
    }
  }
}

.nav-shopcart .dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 1px solid #ccc;
  z-index: 1;

  .dropdown-items {
    color: black;
    padding: 12px 14px;
    font-size: 14px;
    text-decoration: none;
    cursor: default;

    span {
      &:hover {
        font-size: 18px;
        color: red;
        transition: color 0.3s ease-in, font-size 0.3s ease-in;
      }
    }
  }
}

/* Shop Cart Icon */
.shopcart-logo {
  color: #f1f1f1;
  transition: color 0.1s ease-in;

  &:hover {
    color: #333;
  }
}
